src/flows/ProfileChange.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>UserprofileNames</name>
        <choiceText>UserProfileNames</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
        <value>
            <elementReference>DynamicProfile</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>DynamicProfile</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>Var_getProfileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Username</name>
        <dataType>String</dataType>
        <displayField>Username</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Enter_a_User_name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_userID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProfileIDval</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>ProfileChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProfileChange</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>ChangedprofileName</name>
        <label>ChangedprofileName</label>
        <locationX>574</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_getProfileID</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>Var_getChangedProfile</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProfileName</name>
        <label>GetProfileName</label>
        <locationX>250</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileIDval</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>Var_UserProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PermissionRunFlow</assignToReference>
            <field>PermissionsRunFlow</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateuserProfile</name>
        <label>UpdateuserProfile</label>
        <locationX>495</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>ChangedprofileName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_userID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Var_getProfileID</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>ChangeProfile</name>
        <label>ChangeProfile</label>
        <locationX>335</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>user_ChangedProfile</name>
            <fieldText>User Profile has been changed to {!Var_getChangedProfile}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProfileNames</name>
        <label>ProfileNames</label>
        <locationX>261</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateuserProfile</targetReference>
        </connector>
        <fields>
            <name>Choose_The_profile</name>
            <choiceReferences>DynamicProfile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose The profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProfileSwitch</name>
        <label>ProfileSwitch</label>
        <locationX>103</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectUser</targetReference>
        </connector>
        <fields>
            <name>Enter_a_User_name</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter a User name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectUser</name>
        <label>SelectUser</label>
        <locationX>106</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetProfileName</targetReference>
        </connector>
        <fields>
            <name>ChooseUser</name>
            <choiceReferences>Username</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ChooseUser</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>87</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ProfileNames</targetReference>
        </connector>
        <fields>
            <name>profilename1</name>
            <fieldText>User Profile Name :{!Var_UserProfileName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProfileSwitch</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ProfileIDval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ChooseUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>Usern</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Var_getChangedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_getProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_GetProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PermissionRunFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Profile_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_sProfilename</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>var_userID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
